* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table, .holidays-table {
    border-collapse: collapse;
    /* margin: 25px 0; */
    /* padding-top: 30px; */
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    /* overflow: hidden; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height:400px;
  }


  .content-table tbody, .holidays-table tbody{
    display:inline-block;
    overflow:auto;
    height:400px;
    width:100%;
    /* margin-left: auto;
    margin-right: auto; */
  }
  
  .content-table thead tr, .holidays-table thead tr{
    /* height:200px; */
    width:100%;
    display:table;
  }

   
  .content-table thead tr, .holidays-table thead tr {
    background-color: rgb(73, 203, 255);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  /* .content-table tbody {
    overflow-y: scroll;
  } */
  .content-table th,
  .content-table td, .holidays-table th, .holidays-table td {
    padding: 8px 80px;
  }
  
  .content-table tbody tr, .holidays-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(73, 203, 255);
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color:  rgb(73, 203, 255);
  }
  