html,
body {
    overflow: scroll;
    overflow-x: hidden;
    height: fit-content;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
    }